:root {
    --normal-color: #212121;
    --description-color: #757575;
    --active-color: #2196F3;
    --background-color: #2F303A;
    --contact-color: #999999;
    --footer-text-color: #FFFFFF;
}

body {
    font-family: 'Roboto';
    color: var(--normal-color);
    margin-left: 215px;
    margin-right: 215px;
}

li {
    list-style-type: none;
    display: inline;
}

.menu1 {
    text-decoration: none;
    color: var(--normal-color);
}

.menu2 {
    text-decoration: none;
    color: var(--active-color);
}

header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

button {
    cursor: pointer;
  }

.menu1:hover,
.menu1:focus {
    color: var(--active-color);
}

button:hover,
button:focus {
    color: var(--footer-text-color);
    background: var(--active-color);
}

.heading1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
}

.heading2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.button1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

.button2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}

.feature1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.feature2 {
    font-size: 14px;
    line-height: 1.7;
    color: var(--description-color);
}

.team1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.team2 {
    font-size: 16px;
    line-height: 1.2;
    color: var(--description-color);
}

.project1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.project2 {
    font-size: 16px;
    line-height: 1.9;
    color: var(--description-color);
}

.contact1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--description-color);
}

.contact2 {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: var(--contact-color);
}

.contact1:focus,
.contact1:hover {
    color: var(--active-color);
}

.contact2:focus,
.contact2:hover {
    color: var(--active-color);
}

.logo1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--active-color);
    display: inline-block;
}

.logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--background-color);
    text-decoration: none;
    display: inline-block;
}

.logo2:visited {
    color: var(--background-color);
}

.logo3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--active-color);
    text-decoration: none;
    display: inline-block;
    margin-left: 215px;
}

.logo4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    color: var(--footer-text-color);
}


footer {
    font-size: 14px;
    line-height: 1.7;
    color: var(--footer-text-color);
    position: absolute;
    background: var(--background-color);
    left: 0px;
    right: 0px;
    height: 200px;

}

address {
    font-style: normal;
    margin-left: 215px;
}


