body {
    font-family: 'Roboto';
    color: black;
    margin-left: 215px;
    margin-right: 215px;
}

li {
    list-style-type: none;
    display: inline;
}

.menu1 {
    text-decoration: none;
    color: #212121;
}

.menu2 {
    text-decoration: none;
    color: #2196F3;
}

header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

button {
    cursor: pointer;
  }

.menu1:hover,
.menu1:focus {
    color: #2196F3;
}

button:hover,
button:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.heading1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
}

.heading2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.button1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

.button2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}

.feature1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.feature2 {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
}

.team1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.team2 {
    font-size: 16px;
    line-height: 1.2;
    color: #757575;
}

.project1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.project2 {
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
}

.contact1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: #757575;
}

.contact2 {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: #999999;
}

.contact1:focus,
.contact1:hover {
    color: #2196F3;
}

.contact2:focus,
.contact2:hover {
    color: #2196F3;
}

.logo1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: #2196F3;
    display: inline-block;
}

.logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2F303A;
    text-decoration: none;
    display: inline-block;
}

.logo2:visited {
    color: #2F303A;
}

.logo3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
    text-decoration: none;
    display: inline-block;
    margin-left: 215px;
}

.logo4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}


footer {
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    position: absolute;
    background: #2F303A;
    left: 0px;
    right: 0px;
    height: 200px;

}

address {
    font-style: normal;
    margin-left: 215px;
}



