body {
    font-family: 'Roboto';
    color: black;
    margin-left: 215px;
    margin-right: 215px;
}

li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
    color: #212121;
}



header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

button {
    cursor: pointer;
  }

.a:hover,
.a:focus {
    color: #2196F3;
}

button:hover,
button:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
}

.h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.button1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

.button2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
}

.text1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.text2 {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
}

.text3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.text4 {
    font-size: 16px;
    line-height: 1.2;
    color: #757575;
}

.text5 {
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
}

.text6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #757575;
}

.text7 {
    font-size: 14px;
    line-height: 1.7;
    color: #999999;
}

.text7:focus,
.text7:hover {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
}

.logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo3 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
    margin-left: 215px;
}

.logo4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #FFFFFF;
}


footer {
    font-size: 14px;
    line-height: 1.7;
    color: #FFFFFF;
    position: absolute;
    background: #2F303A;
    left: 0px;
    right: 0px;
    height: 200px;

}

address {
    font-style: normal;
    margin-left: 215px;
}



